form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
  background: #eee;
}
.form-row {
  border: 1px solid #a3a3a3;
  margin-bottom: 20px;
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.form-row:last-child {
  margin: 0;
}
.form-row label {
  text-transform: capitalize;
  padding: 0 0 10px;
  font-weight: 700;
  font-size: 15px;
}
.form-row input {
  height: 40px;
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  padding: 5px 20px;
}

.form-row .btns {
  display: flex;
}
.form-row .btn {
  padding: 5px;
}

.news-card {
  border: 1px solid #a3a3a3;
  margin: 20px 0 0;
  position: relative;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 20px;
  border-radius: 8px;
}
.news-card .count {
  background: #2ce607;
  position: absolute;
  text-align: center;
  padding: 5px;
  display: block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  right: 20px;
  top: 20px;
  color: #fff;
}
.news-card .img {
  margin: 0 auto;
}
.news-card .img img {
  object-fit: cover;
  height: auto;
  width: 700px;
}
.news-card .desc {
  text-align: center;
  margin: 0 auto;
  width: 700px;
}
