body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 0;
}
.btn {
  border: 1px solid #fff;
  background: #000000;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  margin: 10px auto;
  padding: 10px;
  width: 40%;
}
.btn.delete {
  background: #ee1717;
  position: absolute;
  padding: 5px;
  height: 20px;
  width: 20px;
  right: 10px;
  margin: 0;
  top: 10px;
}
.btn.active,
.btn:hover {
  border: 1px solid #000;
  background: #fff;
  color: #000;
}
img {
  border-radius: 4px;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.box {
  width: 33.3333%;
  height: auto;
  display: flex;
}

.box .item {
  padding: 15px;
  height: auto;
  display: flex;
}
.box .item .item-inner {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #eee;
  position: relative;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box .item .item-inner .body {
  overflow: hidden;
}

.item h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: 24px;
}
.meta {
  justify-content: space-between;
  padding: 20px 0 0;
  display: flex;
}
.item span {
  text-align: right;
  color: #999;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}
