header {
  background: #000;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #fff;
  width: 200px;
  font-size: 26px;
  cursor: pointer;
  font-weight: 700;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.menu li a {
  text-decoration: none;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  padding: 10px;
  color: #000;
  margin: 0 10px;
}
.menu li:hover a {
  background: #400169;
  color: #fff;
}
